* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(250, 249, 249);
    padding-top: 100px;
    background: url("./cosmos.png")
}

h1 {
    color: rgb(234, 228, 236);
    text-shadow: rgb(68, 0, 107) 4px 4px 4px;
    border-bottom: 10px solid #fc7100;
    border-bottom-style: double;
    padding: 20px;
    color: #fffefd;
    font-weight: bold;
    border-radius: 10px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 25%;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    font-size: 24px;
    background-color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 20px 0; 
    padding-left: 100px;
    border-radius: 29px;
}


form button {
    background-color: rgb(35, 146, 7);
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 20px;
    text-shadow: black 2px 2px 3px;
}

table {
    width: 100%;
}

table th {
    color: #ffffff;
    background-color: #fc7100;
    padding: 1px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 250px;
    text-shadow: black 2px 2px 3px;
    
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

form input tel-agenda {
    padding-left: 50px;
}

tbody {
    color: rgb(234, 228, 236);
    text-shadow: rgb(68, 0, 107) 2px 2px 2px;
}